@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 
---01 Typography Poppins
Bebas Neue
Poppins
- Font Sizes (Px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font Weights:
Defualt : 1


-Line heights 
Default: 1


-spacing system (Px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 /  80 / 96 / 128 


--- 02 COLORS
priamry: #F2C94C yellow
secondary: #183953  dark blue


-black
text : #333333

-Greys:
grey for button = #F4F3F8
grey for dots: #7F8F9C

-- Shadows


--border radius 


--whitespace 

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = .625 = 62.5% */
  /* percentage of user's broweser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333333;
  overflow-x: hidden;
}

/* ********************************* */

/* ********************************* */

/* ********************************* */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  margin: 0 auto;
  position: relative;
  max-width: 130rem;
}

.main-nav {
  margin-right: 30.5rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.main-nav-link > a:link,
a:visited {
  text-decoration: none;
  color: #333333;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link > a:hover,
a:active {
  text-decoration: underline;
}

header .main-nav .main-nav-list .main-nav-link.has-sub-menu > a {
  position: relative;
}

/* header .main-nav .main-nav-list .main-nav-link.has-sub-menu > a:before {
  content: "+";
  display: block;
  position: absolute;
  top: 50%;
  right: 8.5rem;
  transform: translateY(-50%);
  color: #333333;
  font-size: 1.8rem;
  font-weight: 500;
} */

header .main-nav .main-nav-list .main-nav-link.has-sub-menu .sub-menu {
  position: absolute;
  z-index: 999;
  opacity: 0;
  transform: translateY(-20rem);
  pointer-events: none;
  transition: 0.4s ease-out;
  background-color: #f4f3f8;
  list-style-type: none;
  padding: 2rem;
  border-radius: 10px;
}
header .main-nav .main-nav-list .main-nav-link.has-sub-menu .sub-menu > li {
  margin-bottom: 1rem;
}

header .main-nav .main-nav-list .main-nav-link.has-sub-menu:hover > .sub-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
header
  .main-nav
  .main-nav-list
  .main-nav-link.has-sub-menu:hover
  > .sub-menu
  .sub-menu {
  top: 0;
  right: 100%;
}

.menu-item > a {
  color: gray;
}

/*Header Section */

/* .logo {
  height: 2.4rem;
} */

/*nav butoom */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* ********************************* */
/*Hero Section */
/* ********************************* */

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.heading-primary {
  font-size: 9.8rem;
  line-height: 1;
  font-weight: 400;
  font-family: "Bebas Neue", cursive;
}
mark.yellow {
  color: #f2c94c;
  background: none;
}

.heading-greeting {
  font-size: 1.8rem;
  line-height: 1.5;
}
.hero-description {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 4rem;
}
.hero-btn:link,
.hero-btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  background-color: #f2c94c;
  font-size: 1.4rem;
  padding: 1.6rem 3.2rem;
  border-radius: 150px;
  /* always put trasintion to original */
  transition: background-color 0.3s;
}
.hero-btn:hover,
.hero-btn:active {
  background-color: #dab544;
}

.hero-img-box {
  position: relative;
}

.hero-img-box > * {
  position: absolute;
  z-index: 1;
}

.hero-img-box > :nth-child(1) {
  left: 12.2rem;
  top: 5rem;
}
.hero-img-box > :nth-child(2) {
  left: 4rem;
}

.hero-img-box > :nth-child(3) {
  left: 13.12rem;
  top: 7rem;
}

.hero-img-box > :nth-child(4) {
  left: 2rem;
  top: 25rem;
}

.hero-img-box > :nth-child(5) {
  left: 47rem;
  top: -1.5rem;
  transform: rotate(90deg);
}

.floating-tag {
  display: flex;
  background-color: #f4f3f8;
  width: 20rem;
  height: 8.8rem;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 2rem 2rem 4rem 0rem rgba(0, 0, 0, 0.3);
}

.pro-floating {
  cursor: pointer;
}

.about-floating {
  box-shadow: 2rem 2rem 4rem 0rem rgba(0, 0, 0, 0.3),
    -5rem 6rem 10rem 7rem rgba(218, 181, 68, 0.2);
}
.my_pro_icon {
  width: 40%;
  transform: translateY(30%) scale(2);
}

.floating-tag-text {
  font-size: 1.8rem;
  flex-grow: 1;
}
.floating-tag-last {
  display: flex;
  background-color: #f4f3f8;
  width: 15rem;
  height: 8rem;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  gap: 10%;
  box-shadow: 2rem 2rem 4rem 0rem rgba(0, 0, 0, 0.3);
}

.star_icon {
  margin-left: 2rem;
}
.mark-grey {
  background: none;
  color: #909090;
  font-size: 1.4rem;
}

.hero-img-box > :nth-child(6) {
  left: -1rem;
  top: 10rem;
}

.hero-img-box > :nth-child(7) {
  left: 30rem;
  top: 40rem;
}

.hero-img-box > :nth-child(8) {
  left: 50rem;
  top: 15.5rem;
}

/* Service Secrtion CSS */

.service-sec {
  padding: 4.8rem 0 9.6rem 0;
}

.service-div {
  max-width: 130rem;
  display: grid;
  grid-template-rows: 1fr;
  margin: 0 auto;
}

.secondary-title {
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 5rem;
}
.services-offered {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  max-width: 80%;
}
.service {
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
}
.service-icon {
  margin-bottom: 2rem;
}
.tertiary-title {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.service-desc {
  font-size: 1.4rem;
  color: #909090;
  line-height: 1.5;
}

/*****************************************/
/*Contact Section  */
/*****************************************/

.section-contact {
  padding: 4.8rem 0 9.6rem 0;
}
.contact {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}
.contact-title {
  max-width: 130rem;
  margin: 0 auto;
  margin-bottom: 4.8rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.form-input {
  height: 5.3rem;
  border: 0;
  border-bottom: #333333 solid 1px;
  font-family: "Poppins", sans-serif;
}
.form-input:focus {
  outline: none !important;
}

.form-input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: #909090;
}
.comment-box {
  border: 0;
  border-bottom: #333333 solid 1px;
  height: 20rem;
  font-family: "Poppins", sans-serif;
}
.comment-box:focus {
  outline: none !important;
}
.comment-box::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: #909090;
}
.submit_btn {
  height: 4.5rem;
  color: #333333;
  font-family: "Poppins", sans-serif;
  background-color: #f2c94c;
  border: none;
}
.submit_btn:hover {
  background-color: #dab544;
  cursor: pointer;
}

.social-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.social div:nth-child(1) {
  background-color: #325477;
}

.social div:nth-child(2) {
  background-color: #0a66c2;
}

.social div:nth-child(3) {
  background-color: #2eb57d;
}

.social div:nth-child(4) {
  background-color: #833ab4;
}

.box {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: transform 0.3s; /* Animation */
  cursor: pointer;
}
.box:hover {
  transform: scale(1.1);
}

.social-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #f4f3f8;
  text-align: center;
}
.social-text {
  color: #f4f3f8;
}

/* ***************** */
/* Footer */
/* ***************** */
.footer-sec {
  display: grid;
  height: 5rem;
  background-color: #333333;
  color: #f4f3f8;
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  align-content: center;
  justify-content: center;
}

/* ***************** */
/* Modal */
/* ***************** */

.modal {
  border: none;
  border-radius: 20px;
  background-color: #ffff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.modal-sec {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  padding: 2.5rem;
}
.modal-sec a:nth-child(1) {
  background-color: #f4f3f8;
}

.modal-sec a:nth-child(2) {
  background-color: #f4f3f8;
}

.modal-sec a:nth-child(3) {
  background-color: #f4f3f8;
}

.modal-sec a:nth-child(4) {
  background-color: #f4f3f8;
}
.pro {
  width: 32rem;
  height: 32rem;
  display: grid;
  justify-content: center;
  align-content: center;
  box-shadow: 0.2rem 0.2rem 0.1rem #909090;
  transition: transform 0.3s; /* Animation */
  cursor: pointer;
}

.pro:hover {
  transform: scale(0.9);
}
.modal-img {
  height: 12rem;
}
